In [2]:
%pip install docxtpl -q

WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.0-cp39-cp39-macosx_11_0_arm64.whl (10.8 MB)
     |████████████████████████████████| 10.8 MB 1.8 MB/s eta 0:00:01
Collecting numpy>=1.22.4
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_arm64.whl (5.3 MB)
     |████████████████████████████████| 5.3 MB 58.5 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nicolemantillafernandez/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 22.9 MB/s eta 0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     |████████████████████████████████| 347 kB 70.7 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.3.0 pytz-2025.2 tzdata-2025.2
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from datetime import datetime
from docxtpl import DocxTemplate

In [36]:
doc = DocxTemplate("plantilla.docx")

In [37]:
nombre = "Nicole Mantilla"
telefono = "609654290"
correo = "nicole@gmail.com"
fecha = datetime.today().strftime("%d/%m/%Y")

In [38]:
print(fecha)

18/06/2025

In [39]:
constantes = {'nombre': nombre, 'telefono': telefono, 'correo': correo, 'fecha': fecha}

In [40]:
print(constantes)

{'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}

In [41]:
doc.render(constantes)
doc.save(f"prueba.docx")

In [12]:
%pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     |████████████████████████████████| 250 kB 2.0 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [42]:
df = pd.read_excel('notas_alumnos.xlsx')

In [43]:
df

   Nombre del alumno  Mat  fisica  quimica
0        Juan Perez   6.1     6.0      6.4
1          Ana Soto   6.2     5.7      6.2
2     Luis Rodriguez  5.6     6.0      6.4
3     Maria Gonzalez  6.4     6.1      6.2
4         Sofía Ruiz  5.8     5.7      6.4
5       Lucas Méndez  6.3     6.1      5.8
6     Isabel Paredes  6.1     6.4      6.0
7    Daniel Castillo  5.6     5.8      6.4
8  Fernanda Herrera   5.7     6.2      6.0

In [44]:
df = pd.read_excel('notas_alumnos.xlsx')

In [45]:
df

   Nombre del alumno  Mat  fisica  quimica
0        Juan Perez   6.1     6.0      6.4
1          Ana Soto   6.2     5.7      6.2
2     Luis Rodriguez  5.6     6.0      6.4
3     Maria Gonzalez  6.4     6.1      6.2
4         Sofía Ruiz  5.8     5.7      6.4
5       Lucas Méndez  6.3     6.1      5.8
6     Isabel Paredes  6.1     6.4      6.0
7    Daniel Castillo  5.6     5.8      6.4
8  Fernanda Herrera   5.7     6.2      6.0

In [17]:
df = pd.read_excel('notas_alumnos.xlsx')

In [46]:
df

   Nombre del alumno  Mat  fisica  quimica
0        Juan Perez   6.1     6.0      6.4
1          Ana Soto   6.2     5.7      6.2
2     Luis Rodriguez  5.6     6.0      6.4
3     Maria Gonzalez  6.4     6.1      6.2
4         Sofía Ruiz  5.8     5.7      6.4
5       Lucas Méndez  6.3     6.1      5.8
6     Isabel Paredes  6.1     6.4      6.0
7    Daniel Castillo  5.6     5.8      6.4
8  Fernanda Herrera   5.7     6.2      6.0

In [47]:
for indice, fila in df.iterrows():
	print(fila)

Nombre del alumno    Juan Perez
Mat                          6.1
fisica                       6.0
quimica                      6.4
Name: 0, dtype: object
Nombre del alumno    Ana Soto
Mat                        6.2
fisica                     5.7
quimica                    6.2
Name: 1, dtype: object
Nombre del alumno    Luis Rodriguez
Mat                             5.6
fisica                          6.0
quimica                         6.4
Name: 2, dtype: object
Nombre del alumno    Maria Gonzalez
Mat                             6.4
fisica                          6.1
quimica                         6.2
Name: 3, dtype: object
Nombre del alumno    Sofía Ruiz
Mat                         5.8
fisica                      5.7
quimica                     6.4
Name: 4, dtype: object
Nombre del alumno    Lucas Méndez
Mat                           6.3
fisica                        6.1
quimica                       5.8
Name: 5, dtype: object
Nombre del alumno    Isabel Paredes
Mat                             6.1
fisica                          6.4
quimica                         6.0
Name: 6, dtype: object
Nombre del alumno    Daniel Castillo
Mat                              5.6
fisica                           5.8
quimica                          6.4
Name: 7, dtype: object
Nombre del alumno    Fernanda Herrera
Mat                                5.7
fisica                             6.2
quimica                            6.0
Name: 8, dtype: object

In [48]:
for indice, fila in df.iterrows():
	contenido = {'nombre_alumno': fila["Nombre del alumno"], 'nota_mat': fila["Mat"], 'nota_fisica': fila["fisica"], 'nota_quimica': fila["quimica"]}
	contenido.update(constantes)
	doc.render(contenido)
	doc.save(f"notas_de_{fila['Nombre del alumno']}.docx")
	print(contenido)

{'nombre_alumno': 'Juan Perez ', 'nota_mat': 6.1, 'nota_fisica': 6.0, 'nota_quimica': 6.4, 'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}
{'nombre_alumno': 'Ana Soto ', 'nota_mat': 6.2, 'nota_fisica': 5.7, 'nota_quimica': 6.2, 'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}
{'nombre_alumno': 'Luis Rodriguez', 'nota_mat': 5.6, 'nota_fisica': 6.0, 'nota_quimica': 6.4, 'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}
{'nombre_alumno': 'Maria Gonzalez', 'nota_mat': 6.4, 'nota_fisica': 6.1, 'nota_quimica': 6.2, 'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}
{'nombre_alumno': 'Sofía Ruiz', 'nota_mat': 5.8, 'nota_fisica': 5.7, 'nota_quimica': 6.4, 'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}
{'nombre_alumno': 'Lucas Méndez', 'nota_mat': 6.3, 'nota_fisica': 6.1, 'nota_quimica': 5.8, 'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}
{'nombre_alumno': 'Isabel Paredes', 'nota_mat': 6.1, 'nota_fisica': 6.4, 'nota_quimica': 6.0, 'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}
{'nombre_alumno': 'Daniel Castillo', 'nota_mat': 5.6, 'nota_fisica': 5.8, 'nota_quimica': 6.4, 'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}
{'nombre_alumno': 'Fernanda Herrera ', 'nota_mat': 5.7, 'nota_fisica': 6.2, 'nota_quimica': 6.0, 'nombre': 'Nicole Mantilla', 'telefono': '609654290', 'correo': 'nicole@gmail.com', 'fecha': '18/06/2025'}